/* style.css */

h1 {
    Color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
    font-weight: bold;
}

* {
    background-color: black;
    text-align: center;
}

ul {
    text-align: center;
    font-size: large;
}

ol {
    text-align: center;
    font-size: large;
}

img {
    height: auto;
    width: 400px;
}