/* style.css */

h1 {Color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
    font-weight: bold}

h2 {Color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
    font-weight: bold}

h3 {Color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
    font-weight: bold}

* {background-color: gray}

ul {font-size: large}

ol {font-size: large}

li {font-size: large;
    font-family: 'Courier New', Courier, monospace}

img {height: auto;
    width: 400px;
    align-items: center}